@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-ExtraLight.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-ExtraLight.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-ExtraLight.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-ExtraLight.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-Light.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-Light.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-Regular.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-Regular.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-Medium.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-Medium.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-SemiBold.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-SemiBold.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-Bold.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-Bold.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-ExtraBold.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-ExtraBold.ttf);
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Dosis/static/Dosis-ExtraBold.ttf) format("truetype"),
    url(../fonts/Dosis/static/Dosis-ExtraBold.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-ThinItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-ThinItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-ExtraLightItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-LightItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-LightItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-Italic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-Italic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-MediumItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-MediumItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-BoldItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-BoldItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-BlackItalic.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-BlackItalic.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-Thin.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-Thin.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-ExtraLight.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-ExtraLight.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-Light.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-Light.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-Medium.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-Medium.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-SemiBold.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-SemiBold.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-Bold.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-Bold.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-ExtraBold.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-ExtraBold.ttf);
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Fira_Sans/FiraSans-Black.ttf) format("truetype"),
    url(../fonts/Fira_Sans/FiraSans-Black.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Light.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Light.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Light.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Light.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Light.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Light.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Regular.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Regular.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Medium.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Medium.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-SemiBold.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-SemiBold.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Bold.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Bold.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Bold.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Bold.ttf);
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Teko/static/Teko-Bold.ttf) format("truetype"),
    url(../fonts/Teko/static/Teko-Bold.ttf);
}
@font-face {
  font-family: "Miniver";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Miniver/Miniver-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Pixelify_Sans/static/PixelifySans-Medium.ttf)
    format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Pixelify_Sans/static/PixelifySans-SemiBold.ttf)
    format("truetype");
}
@font-face {
  font-family: "Pixelify Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Pixelify_Sans/static/PixelifySans-Bold.ttf)
    format("truetype");
}
@font-face {
  font-family: "Silkscreen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Silkscreen";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Silkscreen/Silkscreen-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Open_Sans/static/OpenSans-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf) format("truetype");
}
